<% content_for :footer do%>
  <%= javascript_include_tag 'bundle/realTimeClock-bundle.js' %>
<% end %>

<h1>Events</h1>

<div>Day Of The Year: <strong><%= DateTime.now.yday %></strong></div>

<div id='real-time' style='float:right'></div>

<%= react_component "LinkButton", props: {text: 'Add Event', link: new_event_url} %>

<%= render partial: 'events/calendars/weekly' %>
