<%= react_component("LinkButton", props: {text: 'Back', link: pieces_path}, prerender: false) %>

<div class='piece-container'>
  <h1><%= @piece.title %></h1>
  <%= text_to_html(@piece.body).html_safe %>
</div>
