<%= month_calendar(events: @events) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <a href="<%= event_url(event._id) %>"><%= event.name %></a>
    </div>
  <% end %>
<% end %>
