@import "simple_calendar";
@import 'variables';

.simple-calendar {
  .calendar-heading {
    font-size: 28px;
    text-align: center;
    margin: 10px;

    .calendar-title {
      font-weight: bold;
    }
  }
  .day {
    div {
      padding: $twoSpace;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}


.calendar-scale-radio {
  padding: $twentySpace;
}

.done-label {
  float: right;
  font-size: 20px;
  color: $darkgrey;

  &.thumbsup-icon {
    color: $green;
  }
}

.event-infos {
  display: flex;
  flex-direction: column;
  background-color: $azure;
  margin-bottom:4px
}
