@import "simple_calendar";
@import 'variables';

.simple-calendar {
  .day {
    div {
      padding: $twoSpace;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}


.calendar-scale-radio {
  padding: $twentySpace;
}

.event-infos {
  display: flex;
  flex-direction: column;
  background-color: $azure;
  margin-bottom:4px
}
