@import 'variables';

h1 {
  text-align: center;
}

.login-status {
  font-size: 16px;
  margin: $twentySpace;
}

.link-btn {
  padding: $twentySpace 0;
}

.input-block.date-picker {
  max-width: 100%;
}

.btns-row {
  display: flex;
}

@media ($var-in-desktop) {
  .mobile {
    display: none;
  }

  .login-status {
    float: right;
  }
}

@media ($var-in-mobile) {
  .desktop {
    display: none;
  }

  ul {
    padding-left: 20px;
  }
}

// ===== default Icons ======

.green-check-icon::after {
  font-family: $fontAwesome5;
  content: $checkIcon;
  color: $green;
}

.gray-check-icon::after {
  font-family: $fontAwesome5;
  content: $checkIcon;
  color: $darkgrey;
}

.thumbsup-icon::after {
  font-family: $fontAwesome5;
  content: $thumbsupIcon;
  color: $green;
}

.edit-icon::after {
    font-family: $fontAwesome5;
    content: $editIcon;
    color: $lightBlack;
}

.delete-icon::after {
    font-family: $fontAwesome5;
    content: $deleteIcon;
    color: $lightBlack;
}

// ================ LinkButton component ==================
.btn {
  border: $twoSpace solid $btn;
  border-radius: $twoSpace;
  min-width: 108px;
  height: $fortySpace;
  position: relative;
  display: inline-block;
  background-color: $btn;

  &:hover {
    cursor: pointer;
  }
}

.btn-text {
  display: block;
  color: $white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

// ====================== Header Component =================
.header-container {
  width: 100%;
  background-color: $white;
  border-bottom: $oneSpace solid $lightGrey;
  display: flex;
  height: 80px;
}

.item-text {
  color: $black;
  display: inline-block;
  width: 20%;
  border: $oneSpace solid $darkgrey;
  text-align: center;
  padding-top: 25px;
  box-shadow: 0 1px 1px 1px black;

  &:hover, &:focus, &:active {
    background-color: $ghostWhite;
  }
}

@media ($var-in-desktop) {
  .header-container {
    height: $sixtySpace;
  }
  
  .item-text {
    font-size: $twentySpace;
    padding-top: $twentySpace;
  }  
}

// ============= UnionButton ========
.default-form-btn {
  display: none;
}
