@import 'variables';

// Place all the styles related to the Pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-container, .piece-container {
    margin: $twentySpace;
}

h1.header {
    margin: 0 auto;
    text-align: center;
}

h3.headline {
    font-size: 18px;
    line-height: 28px;
    max-height: 56px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.updated-time {
    font-size: 14px;
    color: $darkgrey;
}

li.piece-section {
    position: relative;
}

// a.piece-edit-icon {
//     position: absolute;
//     display: inline-block;
//     top: 0;
//     right: $twentySpace;
// }

// a.piece-delete-icon {
//     position: absolute;
//     display: inline-block;
//     top: 0;
//     right: $sixtySpace;
// }


.btn {
    font-size: 22px;
    color: $white;
}

.user-name {
    font-size: 18px;
    text-decoration: underline;
}

@media ($var-in-desktop) {
    .main-container, .piece-container {
        margin: $sixtySpace auto;
        width: 80%;
    }

    h3.headline {
        width: 80%;
    }
}


// new
.input-block {
    font-size: 18px;
    max-width: 100%;
    height: $thirtySpace;
    border: $oneSpace solid $lightBlack;
    padding: $fiveSpace 12px;
}

